version: '3'

services:
    jenkins:
        build: jenkins/
        image: slipke/jenkins
        ports:
            - "8080:8080"
            - "50000:50000"
        volumes:
            - jenkins_home:/var/jenkins_home

volumes:
    jenkins_home: